.main-footer{
    height: 200px;
    width: 100%;
    background-color: rgb(39, 39, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.footer-center{
    height: 100%;
    min-width: 1280px;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#000000e5,#000000e5),url(footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-center-short{
    height: 80%;
    width: 95%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    grid-gap: 10px;
}

.footer-boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-boxes a{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    opacity: 0.7;
    text-decoration: none;
}

.footer-boxes a:hover{
    text-decoration: underline;
}

.last-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.last-box i{
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

.last-box i:hover{
    color: #008000a6;
}

@media screen and (max-width:1170px) {
    .footer-center{
        min-width: 1170px;
        max-width: 1170px;
    }
}

@media screen and (max-width:1080px) {
    .footer-center{
        min-width: 1080px;
        max-width: 1080px;
    }
}

@media screen and (max-width:990px) {
    .footer-center{
        min-width: 990px;
        max-width: 990px;
    }
}

@media screen and (max-width:900px) {
    .footer-center{
        min-width: 900px;
        max-width: 900px;
    }
}

@media screen and (max-width:840px) {
    .footer-center{
        min-width: 840px;
        max-width: 840px;
    }
}

@media screen and (max-width:780px) {
    .footer-center-short{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 40px;
    }

    .footer-center{
        min-height: 400px;
        min-width: 100vw;
    }
}

@media screen and (max-width:477px) {
    .last-box i{
        font-size: 2rem;
    }
}

@media screen and (max-width:330px) {
    .last-box i{
        font-size: 1.3rem;
    }
}