body,html #root{
    height: 100%;
}

.nav-bar{
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    box-shadow: 0 0 5px grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.logo{
    height: 100%;
    width: 100%;
    flex: 0.2;
    margin-left: 20px;
}

.logo img{
    width: 60%;
    max-width: 40px;
    border-radius: 50%;
    outline-offset: 4px;
    outline-color: rgba(0, 0, 255, 0.664);
    outline-style: groove;
    outline-width: 3px;
    cursor: pointer;
}

.nav-link{
    flex: 0.4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 503px;
    max-width: 503px;
}

.nav-link a{
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    color: rgb(36, 46, 36);
    line-height: 60px;
    width: 70px;
    text-align: center;
}

.nav-link a.active{
    border-bottom: 2px solid green;
}

.cart{
    position: relative;
    cursor: pointer;
    flex: 0.1;
}

.cart i{
    font-size: 1.4rem;
    opacity: 0.8;
}

.cart span{
    position: absolute;
    top: -10px;
    left: 15px;
    font-size: 0.6rem;
    background-color: red;
    height: 13px;
    width: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: sans-serif;
    border: 2px solid white;
    font-weight: bold;
    color: white;
}


.hide{
    height: 30px;
    width: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
}

.hide:active{
    transform: scale(0.90);
}

.box{
    height: 3px;
    width: 60%;
    background-color: green;
}

.hidden-nav-bar{
    min-height: 1080px;
    max-height: 1080px;
    position: fixed;
    min-width: 200px;
    background-color: rgb(51, 51, 75);
    z-index: 1;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-200px);
    transition: 0.8s ease-out;
}

.hidden-nav-bar.side-go{
    transform: translateX(0);
    transition: 0.8s ease-out;
}

.hidden-center{
    height: 850px;
    width: 80%;
}

.btns button{
    width: 30px;
    height: 30px;
    float: right;
    background: transparent;
    border: 2px solid grey;
    outline: none;
    color: white;
}

.btns button:active{
    transform: scale(0.90);
}

.hide-nav-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.hide-nav-list a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
}




@media screen and (max-width:600px) {
    .hide{
        display: flex;
    }

    .nav-link a{
        display: none;
    }

    .nav-link{
        max-width: 50px;
        min-width: 50px;
    }
}

@media screen and (max-width:840px) {
    .hidden-nav-bar{
        min-height: 100vh;
    }
}